@model Selling.ViewModel.tblItem

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>tblItem</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ItemName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemName)
                @Html.ValidationMessageFor(model => model.ItemName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BuyingPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BuyingPrice)
                @Html.ValidationMessageFor(model => model.BuyingPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SellingPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SellingPrice)
                @Html.ValidationMessageFor(model => model.SellingPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemAmount)
                @Html.ValidationMessageFor(model => model.ItemAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pieces, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pieces)
                @Html.ValidationMessageFor(model => model.Pieces)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
